@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #525942, #A69460);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #56778c4f;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #0d4f5f;
    text-align: center;
    text-shadow: 1px 1px 2px #19323f49;
}

h2 {
    color: #4C6C73;
}

p {
    text-align: justify;
}